:root {
    --primary-color: #1f7f10;
    --secondary-color: #125903;
    --button-diameter: 60px;
}

.add-btn {
    display: inline-block;
    background-color: white;
    border: none;
}

.add-btn i {
    color: var(--primary-color);
    font-size: 2rem;
    scale: 1;
    transition: transform 0.3s ease;  
}

.add-btn i:hover {
    color: var(--secondary-color);
    transform: scale(1.2);
}







