.delete-btn {
    min-width: 15%;
    margin-left: 10px;
    border-radius: 10px;
    background-color: #ff0000;
    color: white;
    font-size: 2rem;
    border: none;
    transition: transform 0.3s ease;
    transform: scale(1);
}

.delete-btn:hover {
    background-color: #ff3333;
    cursor: pointer;
    transform: scale(1.1);
}